.carousel__pagination {
  display: flex;
  justify-content: center;
  list-style: none;
}

.carousel__pagination-button {
  margin: 4px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 0;
  cursor: pointer;
  background-color: gray;
}

.carousel__pagination-button--active {
  background-color: white;
}